.vscode/
datasets/joint_training
datasets/AlignData
logs/
ref_examples/
results/
results/gen_rule_path/
results/KGQA/
results/gpt-3.5-turbo-0125
results/gpt-3.5-turbo-0613
results/gpt-4-0125-preview
test/
wandb/
save_models/
.env
*.pyc
tmp/
RoG_train.tar.gz
config.json
webq.log
.DS_Store
.venv/
tea_debug.log
cache/