pybind11==2.11.1
openai
transformers
trl==0.7.1
peft==0.5.0
datasets
accelerate==0.22.0
networkx==3.1
graph-walker==1.0.6
tqdm
tqdm
walker
sentencepiece
google
protobuf
datasets
python-dotenv
tiktoken
deepspeed
wandb
litellm